<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

<div class="container">

    <form class="form">
        <div class="flex-column">
            <label>Full Name </label>
        </div>
        <div class="inputForm">
{#            <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">#}
{#                <g id="Layer_2" data-name="Layer 2">#}
{#                    <path d="M16 2a10 10 0 1 0 10 10A10 10 0 0 0 16 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8zm0 4c-5.33 0-16 2.67-16 8v2h32v-2c0-5.33-10.67-8-16-8zm0 10H2v-.88C2.38 28.25 7.81 26 16 26s13.62 2.25 14 3.12z"></path>#}
{#                </g>#}
{#            </svg>#}
            <input type="text" class="input" placeholder="Enter your Full Name">
        </div>

        <div class="flex-column">
            <label>Email </label>
        </div>
        <div class="inputForm">
            <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
                <g id="Layer_3" data-name="Layer 3">
                    <path d="..."></path> <!-- Use the email icon as in the login form -->
                </g>
            </svg>
            <input type="text" class="input" placeholder="Enter your Email">
        </div>

        <div class="flex-column">
            <label>Password </label>
        </div>
        <div class="inputForm">
            <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="..."></path>
            </svg>
            <input type="password" class="input" placeholder="Create your Password">
        </div>

        <div class="flex-column">
            <label>Confirm Password </label>
        </div>
        <div class="inputForm">
            <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="..."></path> <!-- Use the same password lock icon -->
            </svg>
            <input type="password" class="input" placeholder="Confirm your Password">
        </div>

        <button class="button-submit">Register</button>
        <p class="p">Already have an account?
            <a href="{% url 'login' %}">

            <span class="span">Log In</span></p>
        </a>

        <p class="p line">Or With</p>

        <div class="flex-row">
            <button class="btn google">
                <svg version="1.1" width="20" id="Layer_1" xmlns="http://www.w3.org/2000/svg">
                    <path d="..."></path> <!-- Google SVG -->
                </svg>
                Google
            </button>
            <button class="btn apple">
                <svg version="1.1" height="20" width="20" id="Capa_1" xmlns="http://www.w3.org/2000/svg">
                    <path d="..."></path> <!-- Apple SVG -->
                </svg>
                Apple
            </button>
        </div>
    </form>

</div>

</body>
</html>